@page
@model _2003v5.Pages.YoungestAndOldestModel
@{
    string[] e = { " of ", "" };
    int i = 0;
}
<meta name="Author" content="Miguel Relvas">
<center>
    <table border="0" cellspacing="0" style="border-collapse: collapse; margin:0 auto" cellpadding="0" width="980">
        <tbody>
            <tr>
                <td width="260" valign="top" style="text-align:center;">

                    <p style="text-align: center; margin-top:0; margin-bottom:3">
                        <a href="gosdb"><font color="#404040"><img border="0" src="images/gosdb-small.jpg" align="left"></font></a><font color="#404040">
                            <b>
                                <font style="font-size: 15px">
                                    Search by<br>
                                </font>
                            </b><span style="font-size: 15px"><b>Player</b></span>
                        </font>
                    </p><p style="text-align: center; margin-top:0; margin-bottom:0">
                        <b>
                            <a href="gosdb">Back to<br>GoS-DB Hub</a>
                        </b>
                    </p>

                </td>

                <td width="460" align="center" style="text-align: center" valign="top">
                    <p style="margin-top:12; margin-bottom:0; text-align:center; font-size:18px; color:#006E32">
                        MISCELLANEOUS REPORTS
                    </p>

                    <p style="margin-top:6; margin-bottom:0; text-align:center; font-size:13px">
                        <b>Report 5: Youngest and Oldest</b>
                    </p>



                </td>

                <td width="260" valign="top" align="justify">
                    '<span style="font-size: 10px">
                        Miscellaneous Reports' is an ever-growing collection of pages that reflect
                        broad aspects of Argyle's playing history. If you have an idea for another,
                        please get in touch.
                    </span>

                </td>
            </tr>
        </tbody>
    </table>
    <script>
        function Submit() {
            console.log(document.getElementById("competition").value);
            window.location.replace("YoungestAndOldest?competition=" + document.getElementById("competition").value);
        }
    </script>
    <form style="font-size: 10px; padding: 0; margin: 0;" method="post" name="form1">


        <select name="competition" id="competition" style="font-size: 10px"><option value="ALL" selected="">All Competitions</option><option value="FLG">Football League</option><option value="FAC">FA Cup</option><option value="CUP">Any Cup</option></select><br><input type="button" onclick="Submit()" style="width: auto; overflow: visible; color: #000000; background-color: #e0f0e0; font-size: 11px; padding: 1 5 1 5; margin: 9 0 0 0" value="Select and click to redisplay" name="B1"><p></p>
    </form>
    <link rel="stylesheet" type="text/css" href="~/css/gos2.css">
    <center>
        <p style="margin-top:6px; margin-bottom:6px; text-align:center; font-size:14px; color:#006E32"><b>@Model.heading</b></p>
        <p style="text-align:center">
            Note: GoS-DB holds birth dates for
            @foreach (var Player in Model.Playercount)
            {
                @Player.playercount

                @e[i]
                i++;
            }
            players, almost all of the missing ones being for some who appeared before 1920 and in the years close to World War II.
        </p>
        <p style="text-align:center">
            This report does not include those players, so the rankings shown here could be inaccurate.
        </p>
        <p style="margin:12 200; text-align:center">
            <font color="#008000">
                <span style="font-size: 11px; font-weight: 700">
                    Scroll down for youngest and
                    oldest goalscorers
                </span>
            </font>
        </p>
    </center>
    <center>
        <table border="0" cellpadding="10" cellspacing="10" style="border-collapse: collapse; margin:0 0 6 0" bordercolor="#111111">
            <tbody>
                <tr>
                    <td valign="top">
                        <table id="table1" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse">
                            <tbody>
                                <tr><td colspan="5"><b>Youngest Players on Debut</b></td></tr>
                                <tr>
                                    <td><b>#</b></td>
                                    <td><b>Player</b></td>
                                    <td><b>Yr</b></td>
                                    <td align="right">
                                        <b>Dy</b>
                                    </td>
                                    <td><b>First Match</b></td>
                                </tr>


                                @foreach (var Match in Model.YPD)
                                {
                                    <tr>
                                        <td>@Match.rank</td>
                                        <td><a href="gosdb-players2?Pid=@Match.player_id_spell1">@Match.surname, @Match.forename</a></td>
                                        <td>@Model.yr(Match.date, Match.dob)</td>
                                        <td>@Model.dy(Match.date, Match.dob)</td>
                                        <td>@Match.date.Day @Model.MonthName(Match.date) @Match.date.Year</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                    <td valign="top">
                        <table id="table2" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse">
                            <tbody>
                                <tr><td colspan="5"><b>Oldest Players on Debut</b></td></tr>
                                <tr>
                                    <td><b>#</b></td>
                                    <td><b>Player</b></td>
                                    <td><b>Yr</b></td>
                                    <td align="right">
                                        <b>Dy</b>
                                    </td>
                                    <td><b>First Match</b></td>
                                </tr>
                                @foreach (var Match in Model.OPD)
                                {
                                    <tr>
                                        <td>@Match.rank</td>
                                        <td><a href="gosdb-players2?Pid=@Match.player_id_spell1">@Match.surname, @Match.forename</a></td>
                                        <td>@Model.yr(Match.date, Match.dob)</td>
                                        <td>@Model.dy(Match.date, Match.dob)</td>
                                        <td>@Match.date.Day @Model.MonthName(Match.date) @Match.date.Year</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                    <td valign="top">
                        <table id="table3" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse">
                            <tbody>
                                <tr><td colspan="5"><b>Oldest Players to Appear</b></td></tr>
                                <tr>
                                    <td><b>#</b></td>
                                    <td><b>Player</b></td>
                                    <td><b>Yr</b></td>
                                    <td align="right">
                                        <b>Dy</b>
                                    </td>
                                    <td><b>Last Match</b></td>
                                </tr>
                                @foreach (var Match in Model.OPA)
                                {
                                    <tr>
                                        <td>@Match.rank</td>
                                        <td><a href="gosdb-players2?Pid=@Match.player_id_spell1">@Match.surname, @Match.forename</a></td>
                                        <td>@Model.yr(Match.date, Match.dob)</td>
                                        <td>@Model.dy(Match.date, Match.dob)</td>
                                        <td>@Match.date.Day @Model.MonthName(Match.date) @Match.date.Year</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!---->
        <table border="0" cellpadding="10" cellspacing="10" style="border-collapse: collapse; margin:6px auto" bordercolor="#111111" width="980">
            <tbody>
                <tr>
                    <td valign="top">
                        <table id="table4" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse">
                            <tbody>
                                <tr><td colspan="5"><b>Youngest Scorers</b></td></tr>
                                <tr>
                                    <td><b>#</b></td>
                                    <td><b>Player</b></td>
                                    <td><b>Yr</b></td>
                                    <td align="right">
                                        <b>Dy</b>
                                    </td>
                                    <td><b>First Goal</b></td>
                                </tr>


                                @foreach (var Match in Model.YS)
                                {
                                    <tr>
                                        <td>@Match.rank</td>
                                        <td>
                                            <a href="gosdb-players2?Pid=@Match.player_id_spell1">@Match.surname, @Match.forename</a> @if (Match.goalcount > 1)
                                            {
                                                @Model.mg
                                            }
                                        </td>
                                        <td>@Model.yr(Match.date, Match.dob)</td>
                                        <td>@Model.dy(Match.date, Match.dob)</td>
                                        <td>@Match.date.Day @Model.MonthName(Match.date) @Match.date.Year</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                    <td valign="top">
                        <table id="table5" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse">
                            <tbody>
                                <tr><td colspan="5" style="white-space:normal"><b>Youngest Scorers on Debut</b></td></tr>
                                <tr>
                                    <td><b>#</b></td>
                                    <td><b>Player</b></td>
                                    <td><b>Yr</b></td>
                                    <td align="right">
                                        <b>Dy</b>
                                    </td>
                                    <td><b>First Goal</b></td>
                                </tr>


                                @foreach (var Match in Model.YSD)
                                {
                                    <tr>
                                        <td>@Match.rank</td>
                                        <td>
                                            <a href="gosdb-players2?Pid=@Match.player_id_spell1">@Match.surname, @Match.forename</a> @if (Match.goalcount > 1)
                                            {
                                                @Model.mg
                                            }
                                        </td>
                                        <td>@Model.yr(Match.date, Match.dob)</td>
                                        <td>@Model.dy(Match.date, Match.dob)</td>
                                        <td>@Match.date.Day @Model.MonthName(Match.date) @Match.date.Year</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                    <td valign="top">
                        <table id="table6" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse">
                            <tbody>
                                <tr><td colspan="5" style="white-space:normal"><b>Youngest Scorers on Starting Debut</b></td></tr>
                                <tr>
                                    <td><b>#</b></td>
                                    <td><b>Player</b></td>
                                    <td><b>Yr</b></td>
                                    <td align="right">
                                        <b>Dy</b>
                                    </td>
                                    <td><b>First Goal</b></td>
                                </tr>
                                @foreach (var Match in Model.YSSD)
                                {
                                    <tr>
                                        <td>@Match.rank</td>
                                        <td>
                                            <a href="gosdb-players2?Pid=@Match.player_id_spell1">@Match.surname, @Match.forename</a> @if (Match.goalcount > 1)
                                            {
                                                @Model.mg
                                            }
                                        </td>
                                        <td>@Model.yr(Match.date, Match.dob)</td>
                                        <td>@Model.dy(Match.date, Match.dob)</td>
                                        <td>@Match.date.Day @Model.MonthName(Match.date) @Match.date.Year</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                    <td valign="top">
                        <table id="table7" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse">
                            <tbody>
                                <tr><td colspan="5"><b>Oldest Scorers</b></td></tr>
                                <tr>
                                    <td><b>#</b></td>
                                    <td><b>Player</b></td>
                                    <td><b>Yr</b></td>
                                    <td align="right">
                                        <b>Dy</b>
                                    </td>
                                    <td><b>Last Goal</b></td>
                                </tr>
                                @foreach (var Match in Model.OS)
                                {
                                    <tr>
                                        <td>@Match.rank</td>
                                        <td>
                                            <a href="gosdb-players2?Pid=@Match.player_id_spell1">@Match.surname, @Match.forename</a> @if (Match.goalcount > 1)
                                            {
                                                @Model.mg
                                            }
                                        </td>
                                        <td>@Model.yr(Match.date, Match.dob)</td>
                                        <td>@Model.dy(Match.date, Match.dob)</td>
                                        <td>@Match.date.Day @Model.MonthName(Match.date) @Match.date.Year</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</center>









