@page
@model GoSWeb.Pages.gosdb_misc2Model
@{
}

<script>
    function Submit() {
        var comp = document.getElementById("comp").value; // league or  all
        var homeaway = document.getElementById("homeaway").value;

        console.log(comp + " " + homeaway);
        window.location.replace("gosdb-misc2?competition=" + comp + "&homeaway=" + homeaway);
    }

</script>
<form style="font-size: 10px; padding: 0; margin: 0;" action="Submit" method="post" name="form1">
    <select id="comp" name="competition" style="font-size: 10px"><option value="ALL" selected="">All Competitions</option><option value="FLG">Football League</option></select> <select id="homeaway" name="homeaway" style="font-size: 10px"><option value="ha" selected="">Home &amp; Away</option><option value="ho">Home only</option><option value="ao">Away only</option></select><br><input type="button" onclick="Submit()" style="width: auto; overflow: visible; color: #000000; background-color: #e0f0e0; font-size: 11px; padding: 1 5 1 5; margin: 9 0 0 0" value="Select options and click to redisplay" name="B1"><p></p>
</form>
<h3>@Model.heading</h3>
<!--First table-->
<table>
    <thead>
        <tr>Consecutive Wins</tr>
        <tr>
            <th>
                Games |
            </th>
            <th>
                First Match |
            </th>
            <th>
                Last Match |
            </th>
            <th>
                Days
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Match in Model.Consecutive_Wins_Table)
        {
        <tr>
            <td>@Match.wins</td>
            <td>@Match.start_wins.Day @Model.MonthName(Match.start_wins) @Match.start_wins.Year</td>
            <td>@Match.date.Day/@Model.MonthName(Match.date)/@Match.date.Year</td>
            <td>@Match.interval</td>
        </tr>
        }
</table>
<!--second table-->
<table>
    <thead>
        <tr>Consecutive Draws</tr>
        <tr>
            <th>
                Games |
            </th>
            <th>
                First Match |
            </th>
            <th>
                Last Match |
            </th>
            <th>
                Days
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Match in Model.Consecutive_Draws_Table)
        {
            <tr>
                <td>@Match.draws</td>
                <td>@Match.start_draws.Day @Model.MonthName(Match.start_draws) @Match.start_draws.Year</td>
                <td>@Match.date.Day @Model.MonthName(@Match.date) @Match.date.Year</td>
                <td>@Match.interval</td>
            </tr>
        }
</table>
<!--Threed table-->
<table>
    <thead>
        <tr>Consecutive Defeats</tr>
        <tr>
            <th>
                Games |
            </th>
            <th>
                First Match |
            </th>
            <th>
                Last Match |
            </th>
            <th>
                Days
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Match in Model.Consecutive_Defeats_Table)
        {
            <tr>
                <td>@Match.defeats</td>
                <td>@Match.start_defeats.Day @Model.MonthName(@Match.start_defeats) @Match.start_defeats.Year</td>
                <td>@Match.date.Day @Model.MonthName(@Match.date) @Match.date.Year</td>
                <td>@Match.interval</td>
            </tr>
        }
</table>
<!--fourth table-->
<table>
    <thead>
        <tr>Without Losing</tr>
        <tr>
            <th>
                Games |
            </th>
            <th>
                First Match |
            </th>
            <th>
                Last Match |
            </th>
            <th>
                Days
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Match in Model.Without_Losing_Table)
        {
            <tr>
                <td>@Match.nodefeats</td>
                <td>@Match.start_nodefeats.Day @Model.MonthName(@Match.start_nodefeats) @Match.start_nodefeats.Year</td>
                <td>@Match.date.Day @Model.MonthName(@Match.date) @Match.date.Year</td>
                <td>@Match.interval</td>
            </tr>
        }
</table>

<!--fith table-->

<table>
    <thead>
        <tr>Without Winning</tr>
        <tr>
            <th>
                Games |
            </th>
            <th>
                First Match |
            </th>
            <th>
                Last Match |
            </th>
            <th>
                Days
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Match in Model.Without_Winning_Table)
        {
            <tr>
                <td>@Match.nowins</td>
                <td>@Match.start_nowins.Day @Model.MonthName(@Match.start_nowins) @Match.start_nowins.Year</td>
                <td>@Match.date.Day @Model.MonthName(@Match.date) @Match.date.Year</td>
                <td>@Match.interval</td>
            </tr>
        }
</table>
<!--six table-->
<table>
    <thead>
        <tr>Clean Sheets</tr>
        <tr>
            <th>
                Games |
            </th>
            <th>
                First Match |
            </th>
            <th>
                Last Match |
            </th>
            <th>
                Days
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Match in Model.Clean_Sheets_Table)
        {
            <tr>
                <td>@Match.cleansheets</td>
                <td>@Match.start_cleansheets.Day @Model.MonthName(@Match.start_cleansheets) @Match.start_cleansheets.Year</td>
                <td>@Match.date.Day @Model.MonthName(@Match.date) @Match.date.Year</td>
                <td>@Match.interval</td>
            </tr>
        }
</table>
<script>
    let params = new URLSearchParams(location.search);
    let comp = params.get('competition');
    let homeaway = params.get('homeaway');

    if (comp == "FLG") {
        document.getElementById("comp").selectedIndex = "1";
    }

    if (homeaway == "ho") {
        document.getElementById("homeaway").selectedIndex = "1";
    }
    else if (homeaway == "ao") {
        document.getElementById("homeaway").selectedIndex = "2";
    }
</script>

